body {
    font-family: "Fira Sans", sans-serif;
}

.pdfobject-container {
    height: 100vh;
    border: 1rem solid rgba(0, 0, 0, 0.1);
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(hsl(var(--s)), hsl(var(--s)));
    background-size: 0 2.5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
    text-decoration: none;
}

.link-underline:hover {
    background-size: 100% 2.5px;
}

.link-active {
    background-size: 100% 2.5px;
}

#laptop-container {
    background-image: url("/img/laptop-container.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.child-img {
    transform: translateZ(-10px);
}

#whatsapp-icon {
    background-image: url("/img/whatsapp-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform-style: preserve-3d;
}

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none;
}

article {
    text-align: justify;
    text-justify: inter-word;
}
